.hurry-container {
  background: #000000;
  padding: 14px 32px;
  font-size: 28px;
  border-bottom: 1px solid #e5e5e5;
}

.hurry-container p {
  margin: 0;
  color: #ffffff;
  text-align: center;
  padding-right: 500px;
  justify-content: center;
}

.hurry-container span {
  color: #0077cc;
  font-weight: 600;
  margin-left: 6px;
  cursor: pointer;
}
.hurry-now {
  position: relative;
  z-index: 1; /* LOWER than mega menu */
  background: #000;
  color: #fff;
}

